header{
    text-align: center;
    height: 150px;
    padding-top: 2em;
    color: white;
}

.Maincontent {
    height: 500px;
    width: 300px;

footer{
    height: 100px;
    color: white;
    bottom: 0px;
    position:absolute;
}