header{
    text-align: center;
    height: 150px;
    padding-top: 2em;
    color: white;
}
.Mcontent {
    border: 1px, solid, black;
}

footer{
    height: 100px;
    color: white;
    bottom: 0px;
    position:absolute;

}